---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Presentations | Osamu Fukushima</title>

<meta name="description" content="Presentations by Osamu Fukushima.">
<link rel="canonical" href="https://osamufukushima.github.io/web/presentations/">

<meta property="og:title" content="Presentations | Osamu Fukushima">
<meta property="og:description" content="Presentations by Osamu Fukushima.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://osamufukushima.github.io/web/presentations/">

<link rel="stylesheet" href="../css/style.css#05132">
<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-75JNFMX5BR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-75JNFMX5BR');
</script>

</head>


<!------------------------------------------------------------------------------------------------------------------------>

<body>
  <div id="container">

<header>
<!-- <h1 id="logo"> This is the header </h1>  -->
<h1 id="name"> Osamu Fukushima's website</h1>
</header>

<!--メインメニュー-->
<nav id="menubar">
<ul>
<li><a href="../">Home</a></li>
<li><a href="../publications/">Publications</a></li>
<li><a href="../presentations/">Presentations</a></li>
<li><a href="../activities/">Activities</a></li>
<li><a href="../miscellanies/">Miscellanies</a></li>
</ul>
</nav>

<!------------------------------------------------------------------------------------------------------------------------>


<main>

<section>
<h2>Presentations</h2>

{% assign categories = site.data.presentation_categories | sort: "order" %}
{% for category in categories %}
  {% assign presentations = site.data.presentations | where: "category", category.id | sort: "date" | reverse %}
  {% if presentations.size > 0 %}
<h3> {{ category.label | escape }} </h3>

<ol>
    {% for presentation in presentations %}
      {% if category.id == "local_talk" %}
        {% include presentation_local.html item=presentation %}
      {% else %}
        {% include presentation_standard.html item=presentation %}
      {% endif %}
    {% endfor %}
</ol>
  {% endif %}
{% endfor %}

</section>

</main>

<!------------------------------------------------------------------------------------------------------------------------>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  </div>
</body>
</html>
