---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Publications | Osamu Fukushima</title>

<meta name="description" content="Publications by Osamu Fukushima">
<link rel="canonical" href="https://osamufukushima.github.io/web/publications/">

<meta property="og:title" content="Publications | Osamu Fukushima">
<meta property="og:description" content="Publications by Osamu Fukushima">
<meta property="og:type" content="website">
<meta property="og:url" content="https://osamufukushima.github.io/web/publications/">

<link rel="stylesheet" href="../css/style.css">
<script type="text/javascript" id="MathJax-script" async
src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-75JNFMX5BR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-75JNFMX5BR');
</script>

</head>


<!------------------------------------------------------------------------------------------------------------------------>

<body>
  <div id="container">

<header>
<!-- <h1 id="logo"> This is the header </h1>  -->
<h1 id="name"> Osamu Fukushima's website</h1>
</header>

<!--メインメニュー-->
<!-- <nav id="menubar"> -->
<nav id="menubar">
<ul>
<li><a href="../">Home</a></li>
<li><a href="../publications/">Publications</a></li>
<li><a href="../presentations/">Presentations</a></li>
<li><a href="../activities/">Activities</a></li>
<li><a href="../miscellanies/">Miscellanies</a></li>
</ul>
</nav>

<!------------------------------------------------------------------------------------------------------------------------>


<main>

<section>
<h2>Publications</h2>

{% assign articles = site.data.publications | where: "type", "article" | sort: "date" | reverse %}
{% assign books = site.data.publications | where: "type", "book" | sort: "date" | reverse %}
{% assign theses = site.data.publications | where: "type", "thesis" | sort: "date" | reverse %}

<h3>Article</h3>

<ol>
{% for publication in articles %}
  {% include publication_article.html item=publication %}
{% endfor %}
</ol>



<h3>Book</h3>

<ol>
{% for publication in books %}
  {% include publication_book.html item=publication %}
{% endfor %}
</ol>



<h3>Thesis</h3>

<ol>
{% for publication in theses %}
  {% include publication_thesis.html item=publication %}
{% endfor %}
</ol>

</section>

</main>

<!------------------------------------------------------------------------------------------------------------------------>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  </div>
</body>
</html>
